<h1> All Authors </h1>

<% @authors.each do |author| %>
    <p>
        <%= author.id %>
        <%= link_to author.name, author %>
        <%= link_to author.homepage, author.homepage %>
    </p>
<% end %>
    <%= link_to 'New Author', new_author_path %>